# Project 3


# Movie Genre Classification

Classify a movie genre based on its plot.

<img src="moviegenre.png"
     style="float: left; margin-right: 10px;" />




https://www.kaggle.com/c/miia4201-202019-p3-moviegenreclassification/overview

### Data

Input:
- movie plot

Output:
Probability of the movie belong to each genre


### Evaluation

- 20% API
- 30% Report with all the details of the solution, the analysis and the conclusions. The report cannot exceed 10 pages, must be send in PDF format and must be self-contained.
- 50% Performance in the Kaggle competition (The grade for each group will be proportional to the ranking it occupies in the competition. The group in the first place will obtain 5 points, for each position below, 0.25 points will be subtracted, that is: first place: 5 points, second: 4.75 points, third place: 4.50 points ... eleventh place: 2.50 points, twelfth place: 2.25 points).

• The project must be carried out in the groups assigned for module 4.
• Use clear and rigorous procedures.
• The delivery of the project is on July 12, 2020, 11:59 pm, through Sicua + (Upload: the API and the report in PDF format).
• No projects will be received after the delivery time or by any other means than the one established. 




### Acknowledgements

We thank Professor Fabio Gonzalez, Ph.D. and his student John Arevalo for providing this dataset.

See https://arxiv.org/abs/1702.01992

## Configuraciones Iniciales

In [109]:
import pandas as pd
import numpy as np
import nltk
import string
from time import time
from nltk.corpus import stopwords
from nltk  import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer, MinMaxScaler
from sklearn.multiclass import OneVsRestClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier,  ExtraTreesClassifier
from sklearn.metrics import r2_score, roc_auc_score, accuracy_score, make_scorer, roc_auc_score
from sklearn.model_selection import GridSearchCV,train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegressionCV
import tensorflow as tf
tf.device("gpu:0")
import keras
from keras import backend as K
from keras.models import Sequential
from keras.layers.recurrent import LSTM
from keras.layers.core import Dense, Dropout
from keras.layers.embeddings import Embedding
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.callbacks import Callback, EarlyStopping, TensorBoard
from livelossplot import PlotLossesKeras

In [110]:
dataTraining = pd.read_csv('datasets/dataTraining.csv', encoding='UTF-8', index_col=0)
dataTesting = pd.read_csv('datasets/dataTesting.csv', encoding='UTF-8', index_col=0)

In [111]:
dataTraining.head()

,year,title,plot,genres,rating
3107,2003,Most,most is the story of a single father who takes...,"['Short', 'Drama']",8.0
900,2008,How to Be a Serial Killer,a serial killer decides to teach the secrets o...,"['Comedy', 'Crime', 'Horror']",5.6
6724,1941,A Woman's Face,"in sweden , a female blackmailer with a disfi...","['Drama', 'Film-Noir', 'Thriller']",7.2
4704,1954,Executive Suite,"in a friday afternoon in new york , the presi...",['Drama'],7.4
2582,1990,Narrow Margin,"in los angeles , the editor of a publishing h...","['Action', 'Crime', 'Thriller']",6.6

In [112]:
dataTesting.head()

,year,title,plot
1,1999,Message in a Bottle,"who meets by fate , shall be sealed by fate ...."
4,1978,Midnight Express,"the true story of billy hayes , an american c..."
5,1996,Primal Fear,martin vail left the chicago da ' s office to ...
6,1950,Crisis,husband and wife americans dr . eugene and mr...
7,1959,The Tingler,the coroner and scientist dr . warren chapin ...

### Create count vectorizer

In [113]:
def gdd(x):
    a=x.split()
    return len(a)

import re

def decontracted(phrase):
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [114]:
from tqdm import tqdm

In [115]:
preprocessed_plot = []
for sentance in dataTraining['plot'].values:
#    sentance = BeautifulSoup(sentance, 'lxml').get_text()
    sentance = re.sub("\S*\d\S*", "", sentance).strip()
    sentance = re.sub('[^A-Za-z]+', ' ', sentance)
    # https://gist.github.com/sebleier/554280
    sentance = ' '.join(e.lower() for e in sentance.split() if e.lower() not in stopwords)
    preprocessed_plot.append(sentance.strip())

In [116]:
def remove_spaces(x):
    x=x.split(",")
    nospace=[]
    for item in x:
        item=item.lstrip()
        nospace.append(item)
    return (",").join(nospace)

In [117]:
max(dataTraining['plot'].apply(gdd))

1863

In [118]:
vect=Tokenizer()
vect.fit_on_texts(dataTraining['plot'])
vocab_size = len(vect.word_index) + 1
vocab_size

38707

In [119]:
encoded_docs_train = vect.texts_to_sequences(dataTraining['plot'])
max_length = vocab_size
X_pad = sequence.pad_sequences(encoded_docs_train, maxlen=483, padding='post')
print(X_pad)

[[  133     7     1 ...     0     0     0]
 [    4  1031   289 ...     0     0     0]
 [    6  8504     4 ...     0     0     0]
 ...
 [  126     4   829 ...     0     0     0]
 [  476 10126     4 ...     0     0     0]
 [38705  3226   490 ...     0     0     0]]

In [120]:
def f1micro(y_true, y_pred):
    return tf.py_func(f1_score(y_true, y_pred,average='mirco'),tf.double)

### Create y

In [121]:
dataTraining['genres'] = dataTraining['genres'].map(lambda x: eval(x))
le = MultiLabelBinarizer()
y_genres = le.fit_transform(dataTraining['genres'])
y_genres

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 1, ..., 0, 0, 0],
       [0, 1, 1, ..., 0, 0, 0]])

In [122]:
X_train, X_test, y_train_genres, y_test_genres = train_test_split(X_pad, y_genres, test_size=0.66, random_state=666)

### Train multi-class multi-label model

In [123]:
%matplotlib inline

In [126]:
tf.keras.backend.clear_session()
model = Sequential(name="NLP - LSTM Genre Prediction ")
# Configuring the parameters
#model.add(Embedding(vocab_size, output_dim=50, input_length=1200))
model.add(Embedding(484, output_dim=50, input_length=483))
model.add(LSTM(128, return_sequences=True))  
# Adding a dropout layer
model.add(Dropout(0.5))
model.add(LSTM(64))
model.add(Dropout(0.5))
# Adding a dense output layer with sigmoid activation
model.add(Dense(y_train_genres.shape[1], activation='sigmoid'))
model.summary()

Model: "NLP - LSTM Genre Prediction "
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 483, 50)           24200
_________________________________________________________________
lstm_1 (LSTM)                (None, 483, 128)          91648
_________________________________________________________________
dropout_1 (Dropout)          (None, 483, 128)          0
_________________________________________________________________
lstm_2 (LSTM)                (None, 64)                49408
_________________________________________________________________
dropout_2 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 24)                1560
=================================================================
Total params: 166,816
Trainable params: 166,816
Non-trainable params: 0
_________________________________________________________________

In [132]:
model.compile(optimizer='adam', loss='binary_crossentropy')
history = model.fit(X_train, y_train_genres,
                    validation_data=[X_test, y_test_genres],
                    epochs=5,
                    batch_size=64,
                    validation_split=0.2)

Train on 2684 samples, validate on 5211 samples
Epoch 1/5
2684/2684 [==============================] - 77s 29ms/step - loss: nan - val_loss: nan
Epoch 2/5
2684/2684 [==============================] - 76s 28ms/step - loss: nan - val_loss: nan
Epoch 3/5
2684/2684 [==============================] - 76s 28ms/step - loss: nan - val_loss: nan
Epoch 4/5
2684/2684 [==============================] - 75s 28ms/step - loss: nan - val_loss: nan
Epoch 5/5
2684/2684 [==============================] - 75s 28ms/step - loss: nan - val_loss: nan

In [135]:
y_pred_genres = model.predict_classes(X_test)
y_pred_genres

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [129]:
roc_auc_score(y_test_genres, y_pred_genres, average='macro')

0.5

### Predict the testing dataset

In [154]:
X9 = dataTesting['plot'].to_list()
#Convertimos todo en minúsculas
X9 = [x.lower() for x in X9]
X9 = [''.join(c for c in s if c not in string.punctuation) for s in X9]

X8 = [x.split()[:len_pad] for x in X9]
#Cambiamos las palabras por el valor int de esa palabra creado en el diccionario vocabulario
X8 = [[voc[x1] for x1 in x if x1 in voc.keys()] for x in X8]
#Creamos el PAD
X_pad2 = sequence.pad_sequences(X8, maxlen=len_pad)

In [156]:
X_pad2 = (X_pad2+5000)/50000
X_pad2

array([[0.100002  , 0.100002  , 0.100002  , ..., 0.10000685, 0.10001077,
        0.10001326],
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10001112, 0.10001113,
        0.10001607],
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10001343, 0.10000787,
        0.10000312],
       ...,
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10000414, 0.10001688,
        0.10000942],
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10000227, 0.10001719,
        0.10001163],
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10000577, 0.10000539,
        0.10001248]])

In [157]:
cols = ['p_Action', 'p_Adventure', 'p_Animation', 'p_Biography', 'p_Comedy', 'p_Crime', 'p_Documentary', 'p_Drama', 'p_Family',
        'p_Fantasy', 'p_Film-Noir', 'p_History', 'p_Horror', 'p_Music', 'p_Musical', 'p_Mystery', 'p_News', 'p_Romance',
        'p_Sci-Fi', 'p_Short', 'p_Sport', 'p_Thriller', 'p_War', 'p_Western']

y_pred_test_genres = model.predict_proba(X_pad2)

In [158]:
res = pd.DataFrame(y_pred_test_genres, index=dataTesting.index, columns=cols)

In [159]:
res.head()

,p_Action,p_Adventure,p_Animation,p_Biography,p_Comedy,p_Crime,p_Documentary,p_Drama,p_Family,p_Fantasy,...,p_Musical,p_Mystery,p_News,p_Romance,p_Sci-Fi,p_Short,p_Sport,p_Thriller,p_War,p_Western
1,0.173973,0.14711,0.036689,0.046988,0.396658,0.196399,0.052938,0.525232,0.090564,0.099127,...,0.041329,0.086445,0.005835,0.264969,0.085403,0.016008,0.039167,0.229333,0.042071,0.03236
4,0.173973,0.14711,0.036689,0.046988,0.396658,0.196399,0.052938,0.525232,0.090564,0.099127,...,0.041329,0.086445,0.005835,0.264969,0.085403,0.016008,0.039167,0.229333,0.042071,0.03236
5,0.173973,0.14711,0.036689,0.046988,0.396658,0.196399,0.052938,0.525232,0.090564,0.099127,...,0.041329,0.086445,0.005835,0.264969,0.085403,0.016008,0.039167,0.229333,0.042071,0.03236
6,0.173973,0.14711,0.036689,0.046988,0.396658,0.196399,0.052938,0.525232,0.090564,0.099127,...,0.041329,0.086445,0.005835,0.264969,0.085403,0.016008,0.039167,0.229333,0.042071,0.03236
7,0.173973,0.14711,0.036689,0.046988,0.396658,0.196399,0.052938,0.525232,0.090564,0.099127,...,0.041329,0.086445,0.005835,0.264969,0.085403,0.016008,0.039167,0.229333,0.042071,0.03236

In [ ]:
res.to_csv('pred_genres_text_RF.csv', index_label='ID')

In [160]:
X_pad2

array([[0.100002  , 0.100002  , 0.100002  , ..., 0.10000685, 0.10001077,
        0.10001326],
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10001112, 0.10001113,
        0.10001607],
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10001343, 0.10000787,
        0.10000312],
       ...,
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10000414, 0.10001688,
        0.10000942],
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10000227, 0.10001719,
        0.10001163],
       [0.100002  , 0.100002  , 0.100002  , ..., 0.10000577, 0.10000539,
        0.10001248]])

In [228]:
X9 = dataTesting['plot'].to_list()
#Convertimos todo en minúsculas
X9 = [x.lower() for x in X9]
X9 = [''.join(c for c in s if c not in string.punctuation) for s in X9]
#X9 = [word_tokenize(i) for i in X9]
#x8 = [[word for word in X9[x] if not word in e_stp] for x in range(0,len(X9))]
#X9 = [x for x in X9 if x in e_stp]

X8 = [x.split()[:len_pad] for x in X9]
#cambiamos las palabras por el valor int de esa palabra creado en el diccionario vocabulario
X8 = [[voc[x1] for x1 in x if x1 in voc.keys()] for x in X8]
#Creamos el PAD
X_pad2 = (sequence.pad_sequences(X8, maxlen=len_pad))/50000
X_pad2

array([[0.     , 0.     , 0.     , ..., 0.2427 , 0.43874, 0.56278],
       [0.     , 0.     , 0.     , ..., 0.45594, 0.45652, 0.7036 ],
       [0.     , 0.     , 0.     , ..., 0.57136, 0.29344, 0.05602],
       ...,
       [0.     , 0.     , 0.     , ..., 0.1071 , 0.74382, 0.37094],
       [0.     , 0.     , 0.     , ..., 0.0135 , 0.7597 , 0.48148],
       [0.     , 0.     , 0.     , ..., 0.18866, 0.1696 , 0.5239 ]])

In [222]:
list(range(0,len(X8)))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]